[[source]]
url = "https://pypi.org/simple"
verify_ssl = false
name = "pypi"

[packages]
djangorestframework = "*"
djangorestframework-xml = "*"
wheel = "*"
mysqlclient = "==2.1.1"

[dev-packages]

[requires]
python_version = "3.9"
